<% provide :title, t("layouts.header.login") %>
<div class="row fix height-default-js">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 login-view">
    <h1>
      <%= t("layouts.header.login") %>
    </h1>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :remember_me, class: "checkbox" do %>
        <%= f.check_box :remember_me, class: "cblogin" %> <span><%= t(".remember") %></span>
      <% end %>


      <%= f.submit t("layouts.header.login"), class: "btn btn-primary submit" %>
    <% end %>

  <p><%= t(".new_user") %><%= link_to t(".signup"), signup_path %></p>
  </div>
  <div class="col-sm-4"></div>
</div>
