<% provide :title, t(".history") %>

<div class="row fix height-default-js">
<div class="col-sm-1"></div>
<div class="col-sm-10 fix">
  <!-- Page title -->
  <div class="page_header">
      <i class="fa fa-history" aria-hidden="true"></i> YOUR HISTORY
  </div>
  <div class="page_down">
    <i class="fa fa-caret-down" aria-hidden="true" style="font-size: 24px;"></i>
  </div>
  <!-- /Page title -->
  <!-- Order -->
  <div class="row">
  <div class="col-sm-12">
  <div class="panel panel-default mytable">
    <div class="panel-heading">
      Details
    </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover center-vetical">
      <tr>
        <th>Order Number</th>
        <th>Date</th>
        <th>Status</th>
        <th>Total Bill</th>
        <th width="80px">Details</th>

        <% if current_user.admin? %>

        <th width="220px">Status</th>

        <% end %>
      </tr>
      <!-- row order -->
      <% @history_orders.each do |history| %>
        <% if history.detail_orders.present? && history.status != "Idle"%>
        <tr>
          <td><%= history.id %></td>
          <td><%= history.created_at.to_date.strftime("%d/%m/%Y") %></td>
          <td><%= history.status%></td>
          <td><%= number_to_currency(history.total, unit: "VND", format: "%n %u", precision: 0) %></td>
          <td>
            <%=link_to order_path(history.id) do %>
              <i class="fa fa-info-circle"></i> Details
            <% end %>
          </td>
          

          <% if current_user.admin? %>
          <%= form_for history do |f| %>
        
          <td class="order-confirm">
            <%= f.select :status, Order.statuses.keys.to_a, {}, {class: "form-control"} %>

            <%= f.submit "Confirm", class: "btn btn-primary" %>
          </td>

          <% end %>
          <% end %>
        </tr>
        <% end %>
      <% end %>
      <!-- /row order -->
    </table>
  </div>
  </div>
  </div>
  </div>
  </div>
  <!-- /Order -->
</div>
<div class="col-sm-1"></div>
</div>
