<% unless objects.blank? %>
  <div class="row fix">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 fix">
    <div class="prod-title">
      <%= link_to url do %>
        <i class="<%= icon %>" aria-hidden="true"></i> 
        <%= title %>
      <% end %>
    </div>
    <div class="row product">
      <div class="col-sm-12">
        <% objects.each do |product| %>
        <div class="col-sm-2 pi fix">
          <%= link_to product do %>
            <%= image_tag(product.picture.url, class: "img") %>
            <div class="content">
              <div class="line"></div>
              <p class="citem"><%= product.price %> VNĐ</p>
              <h4 class="citem"><%= product.name %></h4>
            </div>
            <div class="topbg">&nbsp;</div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
  </div>
<% end %>
