<!-- title -->
<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header"><%= t ".title_head" %></h1>
  </div>
</div>
<!-- /title -->
<!-------------- Table ----------------->
<div class="row">
<div class="col-sm-12">
<div class="panel panel-default mytable">
  <div class="panel-heading">
    <%= t ".title_table" %>
  </div>
<!-- /.panel-heading -->
<div class="panel-body">
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover center-vetical">
    <tr>
      <th>Id</th>
      <th>UserName</th>
      <th width="20px">Picture</th>
      <th>ProductName</th>
      <th>CategoryName</th>
      <th>Price</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
    <tr>
    <!-- table -->
    <% @suggestion.each do |s| %>
    <tr>
        <td><%= s.id %></td>
        <td><%= s.user.name %></td>
        <td><%= image_tag s.picture.url, class: "img-responsive" %></td>
        <td><%= s.name %></td>
        <td><%= s.category.name %></td>
        <td><%= s.price %></td>
        <td><%= s.created_at.strftime("%m-%d-%Y") %></td>
        <td class="table-status">
          <%= render partial: "status", locals: {suggest: s} %>
        </td>
    </tr>
    <% end %>
    <!-- /table -->
  </table>
</div>
  <%#= will_paginate @suggestion %>
</div>
</div>
</div>
</div>
