<div class="row fix height-default-js">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 login-view">
    <h1>
      <%= t(".update") %>
    </h1>
    <%= form_for @product, url: admin_product_path do |f| %>
      <%= render "shared/product_error_messages" %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.label :category %>
      <!-- categories select -->
      <% products_option = "" %>
      <% @categories.each do |cate| %>
        <% if @category.present? && @category.name == cate %>
          <% products_option += "<option value='"+cate.id.to_s+"' selected>"+cate.name+"</option>" %>
        <% else %>
          <% products_option += "<option value='"+cate.id.to_s+"'>"+cate.name+"</option>" %>
        <% end %>
      <% end %>
      <%= f.select :category_id, products_option.html_safe, {},
       { class: "form-control sort-cate"  }
      %>
      <!-- /categories select -->

      <%= f.label :price %>
      <%= f.text_field :price, class: "form-control" %>
      
      <div class="form-group picture">
        <label>File input</label>
        <%= f.file_field :picture %>
      </div>

      <%= f.submit "SAVE", class: "btn btn-primary btn-block bt-edit" %>
    <% end %>
  </div>
  <div class="col-sm-2"></div>
</div>
