<div class="row fix height-default-js">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 login-view">
    <h1>
      <%= t(".new_title") %>
    </h1>
    <%= form_for @user, url: admin_users_path do |f| %>
      <%= render "shared/error_messages" %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :phone %>
      <%= f.telephone_field :phone, class: "form-control" %>

      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <br>
      <%= f.submit t(".save"), class: "btn btn-primary btn-block bt-edit" %>
    <% end %>
  </div>
  <div class="col-sm-2"></div>
</div>
