<%= form_for(@product) do |f| %>
  <%= render "shared/product_error_messages" %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control" %>

  <%= f.label :category %>
  <!-- categories select -->
  <% products_option = "<option>-- Categories --</option>" %>
  <% @categories_for_sort.each do |cate| %>
    <% if @category_sort.present? && @category_sort == cate %>
      <% products_option += "<option selected>"+cate+"</option>" %>
    <% else %>
      <% products_option += "<option>"+cate+"</option>" %>
    <% end %>
  <% end %>
  <%= f.select "category", products_option.html_safe, {},
       { class: "form-control sort-cate" }
  %>
  <!-- /categories select -->

  <%= f.label :price %>
  <%= f.text_field :price, class: "form-control" %>
  
  <div class="form-group">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>

  <br>
  <%= f.submit yield(:button_text), class: "btn btn-primary btn-block bt-edit" %>
<% end %>
