<% provide :title, t(".title") %>
<!-- SORT -->
<div class="row pd-sort fix height-default-js">
<div class="col-sm-1"></div>
<div class="col-sm-10 fix">
  <div class="prod-title none-border">
    <%= link_to "javascript:void(0)" do %>
      <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> <%= t ".title_sort" %>
    <% end %>

    <%= render "select_sort" %>
  </div>
  <div class="row product">
    <div class="col-sm-12">
      <% if @products.blank? %>
        <center>0 Result</center>
      <% else %>
        <% @products.each do |product| %>
        <div class="col-sm-2 pi fix">
          <%= link_to product do %>
            <%= image_tag(product.picture.url, class: "img") %>
            <div class="content">
              <div class="line"></div>
              <p class="citem"><%= number_to_currency(product.price)%></p>
              <h4 class="citem"><%= product.name %></h4>
            </div>
            <div class="topbg">&nbsp;</div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= will_paginate @products %>
</div>
<div class="col-sm-1"></div>
</div>
<!-- /SORT -->
