<% provide :title, @product.name %>
<div class="row fix height-default-js">
<div class="col-sm-1"></div>
<div class="col-sm-10 fix">
  <!-- Product detail -->
  <div class="page_header">
    <%= t ".title" %>
  </div>
  <div class="page_down">
    <i class="fa fa-caret-down" aria-hidden="true" style="font-size: 24px;"></i>
  </div>

  <div class="row product-detail fix">
    <div class="col-sm-7 pd-left fix">
      <%= image_for @product %>
    </div>
    <div class="col-sm-5 pd-right">
      <h4><i class="fa fa-check" aria-hidden="true" Style="color:green"></i> 
        <%= @product.name %>
      </h4>
      <div class="start" id="product_rating">
        <%= render partial: "product_rating", locals: {product_on: @product_on} %>
      </div>
      <div class="gia"><i class="fa fa-money" aria-hidden="true"></i> 
        <%= number_to_currency(@product.price, unit: "VND", format: "%n %u", precision: 0) %>
      </div>
      <span class="pd_click">
        <%= render "product_row", product: @product%>
        <%= link_to t(".seecart"), cart_path, class: "your-cart" %>
      </span>
    </div>
  </div>
  <!-- /Product detail -->
</div>

<!-- Mô tả SP -->
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home"><%= t ".decrip" %></a></li>
    <% if logged_in? %>
      <li><a data-toggle="tab" href="#menu1"><%= t ".rating" %></a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3><%= t ".decrip" %></h3>
      <p><%= @product.description %></p>
    </div>
    <% if logged_in? %>
      <div id="menu1" class="tab-pane fade">
        <br>
          <p><i id="thank_rating">
          <% if @user_on.zero? %>
            <%= t ".not_rated" %>
          <% else %>
            <%= t ".ever_rated" %>
          <% end %>
          </i></p>
        <div class="start" id="user_rating">
        <%= render partial: "user_rating", locals: {user_on: @user_on} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- /Mô tả SP -->
