<div class="row fix suggest height-default-js">
<div class="col-sm-4"></div>
<div class="col-sm-4 fix">
  <h2><%= t ".h2" %></h2>
  <%= form_for @suggest do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id.to_s %>
  <%= f.hidden_field :status, value: "Pending" %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  
  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control" %>

  <!-- categories select -->
  <%= f.label :category %>
  <% products_option = "" %>
  <% @categories.each do |cate| %>
    <% if @category.present? && @category.name == cate %>
      <% products_option += "<option value='"+cate.id.to_s+"' selected>"+cate.name+"</option>" %>
    <% else %>
      <% products_option += "<option value='"+cate.id.to_s+"'>"+cate.name+"</option>" %>
    <% end %>
  <% end %>
  <%= f.select "category_id", products_option.html_safe, {},
   { class: "form-control sort-cate"  }
  %>
  <!-- /categories select -->
  
  <div class="form-group">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>
  
  <br>
  <%= f.submit "Send suggestion", class: "btn btn-primary btsuggest" %>
  <% end %>
<div class="col-sm-4"></div>
</div>
</div>
