<div class="row fix admin-row">
<!-- left nav -->
<div class="col-sm-2 fix admin-nav-left">
  <div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse my-sidebar">
    <ul class="nav in" id="side-menu">
      <li class="sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </li>
        <!-- Admin menu -->

        <li>
          <%= link_to admin_root_path, class: "active" do %>
            <i class="fa fa-dashboard fa-fw"></i> <%= t ".dash" %>
          <% end %>
        </li>

        <li>
          <%= link_to admin_users_path, class: "active" do %>
            <i class="fa fa-users"></i> <%= t ".mana_user" %>
          <% end %>
        </li>
        <li>
          <%= link_to admin_products_path do %>
            <i class="fa fa-tags" aria-hidden="true"></i> <%= t ".mana_prod" %>
          <% end %>
        </li>

        <li>
          <%= link_to admin_categories_path do %>
            <i class="fa fa-industry" aria-hidden="true"></i> <%= t ".mana_cate" %>
          <% end %>
        </li>

        <li>
          <%= link_to admin_suggestions_path do %>
            <i class="fa fa-paper-plane" aria-hidden="true"></i> <%= t ".mana_suggest" %>
          <% end %>
        </li>

        <!-- /Admin menu -->
      </ul>
    </div>
  </div>
</div>
<!-- /left nav -->

<!-- right nav -->
<div class="col-sm-10 admin-right">
