<footer class="footer">
  <small>
    <%= t ".the" %>
    <%= link_to t(".tut_title"), t(".tut_url") %>
    <%= t ".by" %>
    <%= link_to t(".mh_title"), t(".mh_url") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about.page"), "#" %></li>
      <li><%= link_to t("static_pages.contact.page"), "#" %></li>
      <li><%= link_to t(".new_title"), "#" %></li>
    </ul>
  </nav>
</footer>
