<footer class="footer">
  <small>
    <b><%= t(".authors") %></b>
    <i><%= t(".name") %></i>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about.page"), "#" %></li>
      <li><%= link_to t("static_pages.contact.page"), "#" %></li>
      <li><%= link_to t(".new_title"), "#" %></li>
    </ul>
  </nav>
</footer>
